* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
}

.container {
    width: 80%;
    margin: auto;
}

a {
    text-decoration: none;
}

.main-text {
    font-size: $paragraphs_txt_size;
    color: $primary_text_color;
}

  
.small-text {
    font-size: $small-text;
}

.blue-btn {
    @include primary-btn;
}

.blue-btn img {
    width: 18px;
    vertical-align: text-bottom;
}

.bg-primary-color {
    background-color: $primary_color;
}