* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
}

.container {
    width: 80%;
    margin: auto;
}

a {
    text-decoration: none;
}

.main-text {
    font-size: $paragraphs_txt_size;
    color: $primary_text_color;
}

  
.small-text {
    font-size: $small-text;
}

.blue-btn {
    @include primary-btn;
}

.blue-btn img {
    width: 18px;
    vertical-align: text-bottom;
}


.flex-content {
    @include flex;
    padding: $standard-padding;

    .support-platform {
        width: 50%;
    }

    .how-we-work {
        width: 26%;
    }

    h3 {
        color: $primary_text_color;
        font-size: $how-we-work-title;
    }

    p {
        font-size: $how-we-work-text;
        margin: 40px 0;
    }

    .how-we-work-img {
        margin-top: 20px;
    }
}





