//jumbotron section
.jumbotron-content {
    padding: $standard-padding;
    @include flex;


    .jumbotron-title {
        width: 50%;

        h1 {
            font-size: 30px;
            font-weight: bold;
            color: $primary_text_color;
        }

        p.main-text {            
            padding: 10px 0;
        }

        button.blue-btn {
            margin-top: 50px;
        }

        p.small-text  {
            padding: 20px 0;
        }       
       
    }

    .jumbotron-img {
        width: 50%;
    }
}

// advantages section
.advantages-section{
    background-color: $primary_color;
    padding: $standard-padding;

    .container {


        h3 {
            text-align: center;
            color: $primary_text_color;
        }
    
        .img-row {
            @include flex_jsa;
    
            div{
                width: calc(100% / 3 - 30px);
                padding: 40px; 
                text-align: center; 

                img {
                    height: 70px;
                    width: auto;
                }

                p{
                    font-size: $small-text;    
                }  
                
            }
        }
    
        .single-img {
            width: 25%;
            margin: auto;
        }

        .advantages-section-divider {
            border-bottom: 1px solid black;
            margin: 60px 0;
        }

        .last-subtitle {
            margin-top: 100px;
        }
    
       
    }
}

// Feedback section




