//jumbotron section
.jumbotron-content {
    padding: $standard-padding;
    @include flex;


    .jumbotron-title {
        width: 50%;

        h1 {
            font-size: 30px;
            font-weight: bold;
        }

        p.main-text {            
            padding: 10px 0;
        }

        button.blue-btn {
            margin-top: 50px;
        }

        p.small-text  {
            padding: 20px 0;
        }       
       
    }

    .jumbotron-img {
        width: 50%;
    }
}

// no feedback section
.bg-primary-color {
    padding: $standard-padding;

    h3 {
        text-align: center;
    }

    .img-row {
        @include flex_jsa;

        div{
            width: calc(100% / 3 - 150px);
            padding: 30px;
            
        }
    }

    .single-img {
        width: 30%;
        margin: auto;
    }
}


